<%= turbo_frame_tag 'articles' do %>
  <ul>
    <%= render @articles %>
  </ul>

  <h2>Analytics</h2>

  <ul>
    <% analytics.each do |analytic| %>
      <li>
        User: <%= analytic.username %> -> Search: <%= analytic.query %>
      </li>
    <% end %>
  </ul>
<% end %>
